.logo{
    width: 150px;
}


.artigos{

display: flex;  
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 10px;

}


.article-html{
    
text-align: center;

border-radius: 15px;       
transition: 0.3s ease; /* tempo e suavidade da animação */


}

.article-html:hover{
    transform: scale(1.1); /* aumenta */
    background-color: rgb(19, 142, 241); /* muda de cor */
}




.article-css{
text-align: center;



border-radius: 15px;  
transition: 0.3s ease

}

.article-css:hover{
    transform: scale(1.1);
    background-color: rgb(19, 142, 241);
}



.article-js{
text-align: center;



border-radius: 15px;  
transition: 0.3s ease

}

.article-js:hover{
    transform: scale(1.1);
    background-color: rgb(19, 142, 241);
}


.homepage{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(252, 252, 252);
    border-radius: 20px;
    margin-bottom: 45px;
   
   


    
}



.button1{

    background-color: rgb(12, 166, 255);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    margin: 10px;
    
    
      
}

.button2{

    background-color: rgb(12, 166, 255);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    margin: 10px;
   
   
}

.button3{

    background-color: rgb(12, 166, 255);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    margin: 10px;
    

}
 
.buttonVoltar{
    background-color: rgb(12, 166, 255);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    margin: 10px;
    
}

body{
    background-color: rgb(165, 231, 252);


}


footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

