.logo{
    width: 150px;
}


/* classe com o conteudo de todos os artigos */
.artigos{

display: flex;  
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 10px;

}

/* ---------------------------------------------------------------------------------------------------------------------*/

/*  criei a animação ao passar o cursor do mouse por cima do artigo */
.article-html {
text-align: center;
border-radius: 15px;       
transition: 0.3s ease; /* tempo e suavidade da animação */

}

/* Hover serve para aplicar estilos a um elemento HTML somente quando o cursor do mouse passa sobre ele */
.article-html:hover{
    transform: scale(1.1); /* aumenta */
    background-color: rgb(19, 142, 241); /* muda de cor */
}


/* ---------------------------------------------------------------------------------------------------------------------*/

.article-css{
text-align: center;
border-radius: 15px;  
transition: 0.3s ease; /* tempo e suavidade da animação */

}

.article-css:hover{
    transform: scale(1.1); /* aumenta */
    background-color: rgb(19, 142, 241); /* muda de cor */
}

/* ---------------------------------------------------------------------------------------------------------------------*/


.article-js{
text-align: center;
border-radius: 15px;  
transition: 0.3s ease
}

.article-js:hover{
    transform: scale(1.1);
    background-color: rgb(19, 142, 241);
}

/* ---------------------------------------------------------------------------------------------------------------------*/

.homepage{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* muda a formatação das letras */
    text-align: center;
    background-color: rgb(252, 252, 252); /* muda a cor de fundo */
    border-radius: 20px; /* arredonda a borda dos elementos */
    margin-bottom: 45px; /* margem do espaçamento inferior */
    margin: 10px; /* margem de todos os lados dos elementos */
       
}



.button1{

    background-color: rgb(12, 166, 255);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    margin: 10px;
    
    
      
}

.button2{

    background-color: rgb(12, 166, 255);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    margin: 10px;
   
   
}

.button3{

    background-color: rgb(12, 166, 255);
    color: rgb(0, 0, 0);
    border-radius: 15px;
   
    
}
 

.buttonVoltar{
    background-color: rgb(12, 166, 255);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    margin: 10px;
    
}

body{
    background-color: rgb(165, 231, 252);


}


footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

