.logo{
    width: 150px;
}


.artigos{

display: flex;  
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.homepage{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(252, 252, 252);
    border-radius: 20px;

}



.button1{

    background-color: rgb(12, 166, 255);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    margin: 10px;
    
    
      
}

.button2{

    background-color: rgb(12, 166, 255);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    margin: 10px;
   
   
}

.button3{

    background-color: rgb(12, 166, 255);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    margin: 10px;
    

}
 
.buttonVoltar{
    background-color: rgb(12, 166, 255);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    margin: 10px;
    
}

body{
    background-color: rgb(165, 231, 252);
}


footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

